@media  screen and (max-width:900px) and (min-width:0px){
   .mainContent{
       flex-direction: column;
       overflow: hidden;
   }
}
@media  screen and (max-width:480px) and (min-width:0px){
   .image img{
       height: 400px;
   }
   html{
       font-size: 70%;
   }
}
@media  screen and (max-width:540px) and (min-width:0px){
  .left-cast,.right-cast{
      font-size: 1rem;
  }
}
@media  screen and (max-width:511px) and (min-width:0px){
  .img img{
      height: 180px;
  }
  .eror1{
    font-size:1rem;
    display: flex;
    flex-direction: column;
    color: rgb(248, 165, 11);
}
}